<a href="https://colab.research.google.com/github/gayatrixc/Public/blob/main/python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_tuple = ("apple", "banana", "cherry")
print(my_tuple)  # Output the entire tuple

('apple', 'banana', 'cherry')

In [ ]:
my_tuple = ("apple", "banana", "cherry")

# Indexing
print(my_tuple[0])     # Access first element: 'apple'
print(my_tuple[-1])    # Access last element: 'cherry'

# Slicing
print(my_tuple[0:2])   # Output elements from index 0 to 1: ('apple', 'banana')

apple
cherry
('apple', 'banana')

In [ ]:
my_tuple = ("apple", "banana", "apple", "cherry")

# count() – how many times a value appears
print(my_tuple.count("apple"))   # Output: 2

# index() – find the position of a value
print(my_tuple.index("cherry"))  # Output: 3

2
3

In [ ]:
my_set = {"apple", "banana", "cherry"}
print(my_set)  # Output: set without order: {'cherry', 'apple', 'banana'}

{'apple', 'banana', 'cherry'}

In [ ]:
dup_set = {"apple", "banana", "apple"}
print(dup_set)  # Output: {'apple', 'banana'} – duplicates removed

{'apple', 'banana'}

In [ ]:
fruits = {"apple", "banana", "grapes"}

fruits.clear()
print(fruits)  # Output: set() – all elements removed

set()

In [ ]:
set1 = {"apple", "banana"}
set2 = {"mango", "banana"}

combined = set2.union(set1)
print(combined)  # Output: {'apple', 'mango', 'banana'}

{'mango', 'banana', 'apple'}

In [ ]:
# Create a tuple with 4 fruits and print the second fruit
fruit_tuple = ("apple", "banana", "mango", "grapes")
print(fruit_tuple[1])  # Output: banana

banana

In [ ]:
# Count how many times "apple" appears in the tuple
print(fruit_tuple.count("apple"))  # Output: 1

1

In [ ]:
# Create a set with 5 numbers including duplicates. Observe the result.
num_set = {1, 2, 3, 2, 4}
print(num_set)  # Output: {1, 2, 3, 4} – duplicates removed

{1, 2, 3, 4}

In [ ]:
# Add a number to a set
num_set.add(5)
print(num_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
# Find common values between two sets using intersection()
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
common = a.intersection(b)
print(common)  # Output: {3, 4}

{3, 4}

In [ ]:
set1 = {"apple", "banana"} # Creates a set named 'set1' containing the strings "apple" and "banana". Sets are unordered collections of unique elements.
set2 = {"mango", "banana"} # Creates a set named 'set2' containing the strings "mango" and "banana".
common = set1.intersection(set2) # Finds the common elements between 'set1' and 'set2' and assigns the result (a new set) to the variable 'common'.
print(common) # Prints the value of the 'common' set, which is {'banana'} because "banana" is present in both sets.

{'banana'}

In [ ]:
student = { # Creates a dictionary named 'student'. Dictionaries store data in key-value pairs.
    "name": "Alice", # The key "name" is associated with the value "Alice".
    "age": 21,       # The key "age" is associated with the value 21.
    "grade": "A"     # The key "grade" is associated with the value "A".
}
print(student) # Prints the entire 'student' dictionary.

{'name': 'Alice', 'age': 21, 'grade': 'A'}

In [ ]:
print(student["name"]) # Accesses the value associated with the key "name" in the 'student' dictionary and prints it, which is "Alice".
print(student["age"])  # Accesses the value associated with the key "age" in the 'student' dictionary and prints it, which is 21.

Alice
21

In [ ]:
print(student.get("grade")) # Uses the 'get()' method to retrieve the value associated with the key "grade". It returns "A". This is a safer way to access dictionary elements as it doesn't raise an error if the key is not found.
print(student.get("marks")) # Tries to retrieve the value for the key "marks", which doesn't exist in the 'student' dictionary. The 'get()' method returns 'None' in this case, without causing an error.
print(student.get("marks", 0)) # Again, tries to retrieve the value for "marks". Since it's not found, the 'get()' method returns the specified default value, which is 0 in this case.

A
None
0

In [ ]:
student["marks"] = 85   # Adds a new key-value pair to the 'student' dictionary. The key is "marks" and the value is 85.
student["grade"] = "A+" # Updates the value associated with the existing key "grade" in the 'student' dictionary to "A+".
print(student)         # Prints the updated 'student' dictionary.

{'name': 'Alice', 'age': 21, 'grade': 'A+', 'marks': 85}

In [ ]:
student.pop("age")   # Removes the key-value pair with the key "age" from the 'student' dictionary. The 'pop()' method returns the value of the removed key, although it's not being used here.
print(student)       # Prints the 'student' dictionary after the "age" key has been removed.

{'name': 'Alice', 'grade': 'A+', 'marks': 85}

In [ ]:
for key in student:       # This loop iterates through the keys of the 'student' dictionary.
    print(key, ":", student[key]) # For each key, it prints the key, a colon, and then the corresponding value from the dictionary.

name : Alice
grade : A+
marks : 85

In [ ]:
for key, value in student.items(): # This loop iterates through the key-value pairs in the 'student' dictionary using the 'items()' method, which returns a view object that displays a list of a dictionary's key-value tuple pairs.
    print(key, "=>", value)       # For each key-value pair, it prints the key, "=>", and the value.

name => Alice
grade => A+
marks => 85

In [ ]:
keys = ["name", "age", "grade"]     # Creates a list named 'keys' containing strings.
values = ["Bob", 22, "B"]           # Creates a list named 'values' containing corresponding values.
student2 = dict(zip(keys, values)) # Uses the 'zip()' function to pair elements from 'keys' and 'values' lists, and then converts these pairs into a dictionary named 'student2'.
print(student2)                    # Prints the newly created 'student2' dictionary.

{'name': 'Bob', 'age': 22, 'grade': 'B'}

In [ ]:
classroom = { # Creates a nested dictionary named 'classroom'. The keys of this outer dictionary are strings ("student1", "student2"), and the values are themselves dictionaries.
    "student1": {"name": "Alice", "marks": 90}, # The value associated with "student1" is a dictionary containing the name and marks of Alice.
    "student2": {"name": "Bob", "marks": 85}   # The value associated with "student2" is a dictionary containing the name and marks of Bob.
}
print(classroom["student1"])         # Accesses the dictionary associated with the key "student1" in the 'classroom' dictionary and prints it.
print(classroom["student1"]["marks"]) # Accesses the dictionary associated with "student1", and then accesses the value associated with the key "marks" within that inner dictionary, and prints it.

{'name': 'Alice', 'marks': 90}
90

In [ ]:
x = 5             # Assigns the integer value 5 to the variable 'x'.
print(type(x))    # Uses the 'type()' function to determine the data type of the variable 'x' and prints the result.

<class 'int'>

In [ ]:
# 1. Create a dictionary of a car with brand, model, and year.
car = {
    "brand": "Toyota",
    "model": "Camry",
    "year": 2023
}
print(f"Initial car dictionary: {car}")

# 2. Add a new key "color" to the dictionary.
car["color"] = "Silver"
print(f"Car dictionary with color: {car}")

# 3. Fetch the value using get() for a non-existent key with default.
engine_type = car.get("engine", "Petrol")
print(f"Engine type (using get with default): {engine_type}")

# 4. Create a nested dictionary for 2 cars.
cars = {
    "car1": {
        "brand": "Honda",
        "model": "Civic",
        "year": 2022,
        "color": "Blue"
    },
    "car2": {
        "brand": "Tesla",
        "model": "Model 3",
        "year": 2024,
        "color": "Red"
    }
}
print(f"Nested dictionary of cars: {cars}")

# 5. Convert 2 lists (names, marks) into a dictionary using zip().
names = ["Charlie", "David", "Eve"]
marks = [95, 88, 92]
student_marks = dict(zip(names, marks))
print(f"Dictionary of student marks: {student_marks}")

Initial car dictionary: {'brand': 'Toyota', 'model': 'Camry', 'year': 2023}
Car dictionary with color: {'brand': 'Toyota', 'model': 'Camry', 'year': 2023, 'color': 'Silver'}
Engine type (using get with default): Petrol
Nested dictionary of cars: {'car1': {'brand': 'Honda', 'model': 'Civic', 'year': 2022, 'color': 'Blue'}, 'car2': {'brand': 'Tesla', 'model': 'Model 3', 'year': 2024, 'color': 'Red'}}
Dictionary of student marks: {'Charlie': 95, 'David': 88, 'Eve': 92}

In [ ]:
b = 3.14         # Assigns the floating-point number 3.14 to the variable 'b'. Floating-point numbers have decimal points.
print(type(b))    # Uses the 'type()' function to determine the data type of 'b' and prints the result, which is <class 'float'>.

<class 'float'>

In [ ]:
c = 3 + 2j       # Assigns a complex number to the variable 'c'. Complex numbers have a real part and an imaginary part (indicated by 'j').
print(type(c))    # Uses the 'type()' function to determine the data type of 'c' and prints the result, which is <class 'complex'>.

<class 'complex'>

In [ ]:
text = "Hello World" # Assigns a string literal "Hello World" to the variable 'text'. Strings are sequences of characters enclosed in quotes.
print(type(text))    # Uses the 'type()' function to determine the data type of 'text' and prints the result, which is <class 'str'>.

<class 'str'>

In [ ]:
is_active = True   # Assigns the boolean value 'True' to the variable 'is_active'. Boolean values can be either 'True' or 'False'.
print(type(is_active)) # Uses the 'type()' function to determine the data type of 'is_active' and prints the result, which is <class 'bool'>.

<class 'bool'>

In [ ]:
fruits = ["apple", "banana", "mango"] # Creates a list named 'fruits' containing strings. Lists are ordered and mutable sequences.
print(type(fruits))                  # Uses the 'type()' function to check the data type of 'fruits', which is <class 'list'>.

<class 'list'>

In [ ]:
coordinates = (10, 20) # Creates a tuple named 'coordinates' containing two integers. Tuples are ordered and immutable sequences.
print(type(coordinates)) # Uses the 'type()' function to check the data type of 'coordinates', which is <class 'tuple'>.

<class 'tuple'>

In [ ]:
numbers = range(5)       # Creates a 'range' object named 'numbers'. 'range' generates a sequence of numbers (in this case, from 0 up to, but not including, 5).
print(list(numbers))     # Converts the 'range' object 'numbers' into a list and prints it, resulting in [0, 1, 2, 3, 4].

[0, 1, 2, 3, 4]

In [ ]:
colors = {"red", "blue", "green", "red"} # Creates a set named 'colors' containing strings. Sets are unordered collections of unique elements. Notice that the duplicate "red" is automatically removed.
print(colors)                           # Prints the 'colors' set, which will contain {'red', 'blue', 'green'}. The order of elements in a set is not guaranteed.

{'red', 'blue', 'green'}

In [ ]:
person = {"name": "Alice", "age": 22} # Creates a dictionary named 'person' with two key-value pairs.
print(person["name"])                  # Accesses and prints the value associated with the key "name", which is "Alice".
print(type(person))                    # Uses the 'type()' function to determine the data type of 'person', which is <class 'dict'>.

Alice
<class 'dict'>

In [ ]:
x = 5         # Assigns an integer value to 'x'.
y = float(x)  # Converts the integer 'x' to a floating-point number and assigns it to 'y' (resulting in 5.0).
z = str(x)    # Converts the integer 'x' to a string and assigns it to 'z' (resulting in "5").
a = int("10") # Converts the string "10" to an integer and assigns it to 'a' (resulting in 10).
b = list("abc")# Converts the string "abc" into a list of individual characters and assigns it to 'b' (resulting in ['a', 'b', 'c']).

In [ ]:
a = 10             # Assigns an integer value to 'a'.
b = str(a)         # Converts the integer 'a' to a string and assigns it to 'b'.
print(b, type(b))  # Prints the string 'b' and its data type, which is <class 'str'>.

c = "123"          # Assigns a string value to 'c'.
d = int(c)         # Converts the string 'c' to an integer and assigns it to 'd'.
print(d, type(d))  # Prints the integer 'd' and its data type, which is <class 'int'>.

10 <class 'str'>
123 <class 'int'>

In [ ]:
# 1. Create variables of each data type and print type()
integer_var = 10
float_var = 3.14
string_var = "hello"
boolean_var = True
list_var = [1, 2, "three"]
tuple_var = (1, "two", 3.0)
set_var = {4, 5, 6, 6}
dict_var = {"name": "John", "age": 30}

print(f"Integer variable ({integer_var}): {type(integer_var)}")
print(f"Float variable ({float_var}): {type(float_var)}")
print(f"String variable ('{string_var}'): {type(string_var)}")
print(f"Boolean variable ({boolean_var}): {type(boolean_var)}")
print(f"List variable ({list_var}): {type(list_var)}")
print(f"Tuple variable ({tuple_var}): {type(tuple_var)}")
print(f"Set variable ({set_var}): {type(set_var)}")
print(f"Dictionary variable ({dict_var}): {type(dict_var)}")

print("-" * 30)

# 2. Convert an int to float, then to str
num_int = 7
num_float = float(num_int)
num_str = str(num_float)

print(f"Integer: {num_int}, type: {type(num_int)}")
print(f"Float: {num_float}, type: {type(num_float)}")
print(f"String: '{num_str}', type: {type(num_str)}")

print("-" * 30)

# 3. Create a list with mixed data types
mixed_list = [1, "apple", 3.14, True]
print(f"Mixed list: {mixed_list}, type: {type(mixed_list)}")

print("-" * 30)

# 4. Create a set and observe how duplicates are removed
duplicate_set = {1, 2, 2, 3, 3, 3}
print(f"Set with duplicates: {duplicate_set}, type: {type(duplicate_set)}")

print("-" * 30)

# 5. Create a dictionary with 3 key-value pairs
info_dict = {
    "city": "Hyderabad",
    "country": "India",
    "language": "Telugu"
}
print(f"Dictionary: {info_dict}, type: {type(info_dict)}")

print("-" * 30)

# 6. Create a tuple and try modifying it (observe the error)
immutable_tuple = (10, 20, 30)
print(f"Tuple: {immutable_tuple}, type: {type(immutable_tuple)}")

try:
    immutable_tuple[0] = 100  # This will raise a TypeError
except TypeError as e:
    print(f"Error trying to modify tuple: {e}")

Integer variable (10): <class 'int'>
Float variable (3.14): <class 'float'>
String variable ('hello'): <class 'str'>
Boolean variable (True): <class 'bool'>
List variable ([1, 2, 'three']): <class 'list'>
Tuple variable ((1, 'two', 3.0)): <class 'tuple'>
Set variable ({4, 5, 6}): <class 'set'>
Dictionary variable ({'name': 'John', 'age': 30}): <class 'dict'>
------------------------------
Integer: 7, type: <class 'int'>
Float: 7.0, type: <class 'float'>
String: '7.0', type: <class 'str'>
------------------------------
Mixed list: [1, 'apple', 3.14, True], type: <class 'list'>
------------------------------
Set with duplicates: {1, 2, 3}, type: <class 'set'>
------------------------------
Dictionary: {'city': 'Hyderabad', 'country': 'India', 'language': 'Telugu'}, type: <class 'dict'>
------------------------------
Tuple: (10, 20, 30), type: <class 'tuple'>
Error trying to modify tuple: 'tuple' object does not support item assignment

In [ ]:
a = 10   # Assigns the integer 10 to the variable 'a'.
b = 3    # Assigns the integer 3 to the variable 'b'.

print("Addition:", a + b)      # Performs addition of 'a' and 'b' (10 + 3) and prints the result.
print("Subtraction:", a - b)   # Performs subtraction of 'b' from 'a' (10 - 3) and prints the result.
print("Multiplication:", a * b)# Performs multiplication of 'a' and 'b' (10 * 3) and prints the result.
print("Division:", a / b)      # Performs floating-point division of 'a' by 'b' (10 / 3) and prints the result.
print("Floor Division:", a // b)# Performs floor division of 'a' by 'b' (10 // 3), which gives the integer part of the quotient.
print("Modulus:", a % b)       # Performs modulus operation, which gives the remainder of the division of 'a' by 'b' (10 % 3).
print("Power:", a ** b)        # Calculates 'a' raised to the power of 'b' (10 ** 3) and prints the result.

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Power: 1000

In [ ]:
x = 5       # Simple assignment: assigns the value 5 to 'x'.
x += 3      # Augmented assignment: equivalent to x = x + 3 (x becomes 8).
x *= 2      # Augmented assignment: equivalent to x = x * 2 (x becomes 16).
x -= 4      # Augmented assignment: equivalent to x = x - 4 (x becomes 12).
print(x)    # Prints the final value of 'x', which is 12.

# Assign multiple variables at once
a, b = 10, 20 # Assigns 10 to 'a' and 20 to 'b' simultaneously.
print(a, b)   # Prints the values of 'a' and 'b'.

12
10 20

In [ ]:
a = 5   # Assigns 5 to 'a'.
b = 7   # Assigns 7 to 'b'.

print(a == b) # Equality operator: checks if 'a' is equal to 'b' (False).
print(a != b) # Inequality operator: checks if 'a' is not equal to 'b' (True).
print(a > b)  # Greater than operator: checks if 'a' is greater than 'b' (False).
print(a < b)  # Less than operator: checks if 'a' is less than 'b' (True).
print(a >= 5) # Greater than or equal to operator: checks if 'a' is greater than or equal to 5 (True).
print(a <= 3) # Less than or equal to operator: checks if 'a' is less than or equal to 3 (False).

False
True
False
True
True
False

In [ ]:
n = 5       # Assigns 5 to 'n'.
print(-n)    # Unary negation operator: negates the value of 'n' (-5).
print(+n)    # Unary plus operator: returns the value of 'n' unchanged (+5).

flag = True  # Assigns the boolean value True to 'flag'.
print(not flag)# Logical NOT operator: negates the boolean value of 'flag' (False).

-5
5
False

In [ ]:
a = 10
b = 20

# and operator: Returns True if both conditions are True
print(a > 5 and b > 15)  # True (10 > 5 is True and 20 > 15 is True)
print(a > 15 and b > 15) # False (10 > 15 is False)

# or operator: Returns True if at least one condition is True
print(a > 15 or b > 15)  # True (20 > 15 is True)
print(a < 5 or b < 15)   # False (10 < 5 is False and 20 < 15 is False)

# not operator: Returns True if the condition is False, and False if the condition is True
x = True
y = False
print(not x) # False (not True is False)
print(not y) # True (not False is True)

True
False
True
False
False
True

In [ ]:
# Assume we have age variables for two people
person1_age = 25
person2_age = 15

# Compare their age with 18
print(f"Person 1 is of age {person1_age}. Is age >= 18? {person1_age >= 18}")
print(f"Person 2 is of age {person2_age}. Is age >= 18? {person2_age >= 18}")

print("-" * 30)

# Check if a number is even AND greater than 10
number = 12
if number % 2 == 0 and number > 10:
    print(f"{number} is even and greater than 10.")
else:
    print(f"{number} is either odd or not greater than 10.")

number = 9
if number % 2 == 0 and number > 10:
    print(f"{number} is even and greater than 10.")
else:
    print(f"{number} is either odd or not greater than 10.")

print("-" * 30)

# Use not to invert a condition
is_raining = False
if not is_raining:
    print("It's not raining.")
else:
    print("It's raining.")

print("-" * 30)

# Use += and *= in one variable and print results
value = 5
value += 3  # value is now 5 + 3 = 8
print(f"Value after += 3: {value}")
value *= 2  # value is now 8 * 2 = 16
print(f"Value after *= 2: {value}")

Person 1 is of age 25. Is age >= 18? True
Person 2 is of age 15. Is age >= 18? False
------------------------------
12 is even and greater than 10.
9 is either odd or not greater than 10.
------------------------------
It's not raining.
------------------------------
Value after += 3: 8
Value after *= 2: 16

In [ ]:
# Decimal to Binary
decimal = 51
binary = bin(decimal)
print(f"Binary of {decimal} is:", binary)

# Binary to Decimal
binary_value = "0b110011"
decimal_back = int(binary_value, 2) # The second argument '2' specifies that the input is in base 2 (binary)
print(f"Binary '{binary_value}' to decimal:", decimal_back)

Binary of 51 is: 0b110011
Binary '0b110011' to decimal: 51

In [ ]:
# Decimal to Octal
decimal = 51
octal = oct(decimal)
print(f"Octal of {decimal} is:", octal)

# Octal to Decimal
octal_value = "0o63"
decimal_back = int(octal_value, 8) # The second argument '8' specifies that the input is in base 8 (octal)
print(f"Octal '{octal_value}' to decimal:", decimal_back)

Octal of 51 is: 0o63
Octal '0o63' to decimal: 51

In [ ]:
# Decimal to Hexadecimal
decimal = 51
hexa = hex(decimal)
print("Hexadecimal of 51 is:", hexa)

# Hexadecimal to Decimal
hex_value = "0x33"
decimal_back = int(hex_value, 16) # The second argument '16' specifies that the input is in base 16 (hexadecimal)
print("Hexadecimal '0x33' to decimal:", decimal_back)

Hexadecimal of 51 is: 0x33
Hexadecimal '0x33' to decimal: 51

In [ ]:
binary_str = '11011'
decimal = int(binary_str, 2) # Convert binary string to decimal
print("Binary 11011 to Decimal:", decimal)

octal_str = '360'
decimal = int(octal_str, 8)  # Convert octal string to decimal
print("Octal 360 to Decimal:", decimal)

hex_str = '33'
decimal = int(hex_str, 16) # Convert hexadecimal string to decimal
print("Hexadecimal 33 to Decimal:", decimal)

Binary 11011 to Decimal: 27
Octal 360 to Decimal: 240
Hexadecimal 33 to Decimal: 51

In [ ]:
octal = "725"
binary = ''.join([bin(int(digit))[2:].zfill(3) for digit in octal])
print("Octal 725 to Binary:", binary)

Octal 725 to Binary: 111010101

In [ ]:
binary = '101011011'

# Pad the binary string to a multiple of 3
while len(binary) % 3 != 0:
    binary = '0' + binary

octal = ''
for i in range(0, len(binary), 3):
    octal += str(int(binary[i:i+3], 2))

print("Binary 101011011 to Octal:", octal)

Binary 101011011 to Octal: 533

In [ ]:
a = 10  # Binary: 1010
b = 4   # Binary: 0100

result = a & b  # Bitwise AND: 1010 & 0100 = 0000 (decimal 0)
print(result)

result = a | b  # Bitwise OR:  1010 | 0100 = 1110 (decimal 14)
print(result)

result = a ^ b  # Bitwise XOR: 1010 ^ 0100 = 1110 (decimal 14)
print(result)

0
14
14

In [ ]:
x = 5   # Binary: 0101
result = ~x # Bitwise NOT: Inverts all bits. For a signed integer x, the result is -(x+1). So, ~(5) = -(5+1) = -6.
print(result)

a = 5   # Binary: 0101
result = a << 1 # Left Shift: Shifts the bits of 'a' one position to the left. 0101 becomes 1010 (decimal 10).
print(result)

-6
10

In [ ]:
a = 10  # Binary: 1010
b = 4   # Binary: 0100
print("a & b =", a & b)  # Bitwise AND
print("a | b =", a | b)  # Bitwise OR
print("a ^ b =", a ^ b)  # Bitwise XOR
print("~a =", ~a)    # Bitwise NOT (-(10+1) = -11)
print("a << 1 =", a << 1) # Left Shift (10 * 2 = 20)
print("a >> 1 =", a >> 1) # Right Shift (10 // 2 = 5)

x = 7   # Binary: 0111
y = 3   # Binary: 0011
print("x & y =", x & y)
print("x | y =", x | y)
print("x ^ y =", x ^ y)
print("~x =", ~x)    # -(7+1) = -8
print("x << 2 =", x << 2) # 7 * (2**2) = 28
print("x >> 2 =", x >> 2) # 7 // (2**2) = 1

a & b = 0
a | b = 14
a ^ b = 14
~a = -11
a << 1 = 20
a >> 1 = 5
x & y = 3
x | y = 7
x ^ y = 4
~x = -8
x << 2 = 28
x >> 2 = 1