In [ ]:
# This is how we create (define) a function in Python
def greet():
    print("Hello! Welcome to Python functions.")

# This is how we call (use) the function
greet()

Hello! Welcome to Python functions.

In [ ]:
# This function adds two numbers and prints the result
def add_numbers(a, b):
    sum = a + b
    print("Sum is:", sum)

# Calling the function with 2 numbers (actual arguments)
add_numbers(4, 5)

Sum is: 9

In [ ]:
# 'name' is a formal argument
def say_hello(name):
    print("Hello", name)

# 'Jay' is the actual argument
say_hello("Jay")

Hello Jay

In [ ]:
# Function with two arguments
def multiply(x, y):
    result = x * y
    print("Multiplication is:", result)

multiply(3, 4)

Multiplication is: 12

In [ ]:
# Function that returns the sum of two numbers
def add(a, b):
    return a + b

# Store the result in a variable
result = add(10, 5)
print("Returned result is:", result)

Returned result is: 15

In [ ]:
# Function that adds and subtracts and returns both
def add_subtract(x, y):
    sum = x + y
    diff = x - y
    return sum, diff  # returning 2 values

# Storing both results
result1, result2 = add_subtract(10, 4)
print("Sum is:", result1)
print("Difference is:", result2)

Sum is: 14
Difference is: 6

In [ ]:
A function to find the square of a number

A function to check if a number is even or odd

A function to greet a user with their name

A function to return the bigger of two numbers

SyntaxError: invalid syntax (<ipython-input-7-a136dd68a70b>, line 1)

In [ ]:
# Function trying to modify an integer
def modify_number(n):
    print("Before changing, inside function:", n)
    n = n + 10
    print("After changing, inside function:", n)

# Main code
x = 5
print("Before function call:", x)
modify_number(x)
print("After function call:", x)

Before function call: 5
Before changing, inside function: 5
After changing, inside function: 15
After function call: 5

In [ ]:
# Function modifying a list
def update_list(my_list):
    print("Before modification:", my_list)
    my_list[1] = 25
    print("After modification:", my_list)

# Main code
lst = [10, 20, 30]
print("Original list before function call:", lst)
update_list(lst)
print("Original list after function call:", lst)

Original list before function call: [10, 20, 30]
Before modification: [10, 20, 30]
After modification: [10, 25, 30]
Original list after function call: [10, 25, 30]

In [ ]:
def update(lst):
    print("ID before modification inside function:", id(lst))
    lst[1] = 25
    print("ID after modification inside function:", id(lst))
    print("List inside function:", lst)

lst = [10, 20, 30]
print("ID before function call:", id(lst))
update(lst)
print("List after function call:", lst)

ID before function call: 135337391523712
ID before modification inside function: 135337391523712
ID after modification inside function: 135337391523712
List inside function: [10, 25, 30]
List after function call: [10, 25, 30]

In [ ]:
Write a function to double a number and return it.

Write a function to append an item to a list.

Try modifying a string inside a function and see what happens.

Use id() to check memory addresses for mutable and immutable types.

SyntaxError: invalid syntax (<ipython-input-11-37e2d8473ef0>, line 1)

In [ ]:
def person(name, age):
    print("Name:", name)
    print("Age:", age)

# Positional arguments: 'John' goes to name, 25 goes to age
person('John', 25)

Name: John
Age: 25

In [ ]:
def person(name, age):
    print("Name:", name)
    print("Age:", age)

# Using keyword arguments in any order
person(age=30, name='Alice')

Name: Alice
Age: 30

In [ ]:
def person(name, age=28):
    print("Name:", name)
    print("Age:", age)

# Using default value for age
person('Navin')

# Overriding default value
person('Ravi', 35)

Name: Navin
Age: 28
Name: Ravi
Age: 35

In [ ]:
def sum_numbers(a, *b):
    print("First number (a):", a)
    print("Remaining numbers (*b):", b)

    total = a
    for number in b:
        total += number
    print("Total sum:", total)

# Passing multiple arguments
sum_numbers(5, 6, 34, 78)

First number (a): 5
Remaining numbers (*b): (6, 34, 78)
Total sum: 123

In [ ]:
def person(name, *data):  # *data will store remaining values as a tuple
    print("Name:", name)
    print("Other Info (tuple):", data)

person('Navin', 28, 9765432, 'Mumbai')

Name: Navin
Other Info (tuple): (28, 9765432, 'Mumbai')

In [ ]:
def person(name, **data):  # **data collects keyword args into a dictionary
    print("Name:", name)
    print("Other Info (dict):", data)

person(name='Navin', age=28, city='Mumbai', mob=9865432)

Name: Navin
Other Info (dict): {'age': 28, 'city': 'Mumbai', 'mob': 9865432}

In [ ]:
def person(name, **data):
    print("Name:", name)
    for key, value in data.items():  # Loop through the dictionary
        print(f"{key}: {value}")

person(name='Navin', age=28, city='Mumbai', mob=9865432)

Name: Navin
age: 28
city: Mumbai
mob: 9865432